/* styles/Contato.module.css */
.pageContainer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.heading1 {
  font-size: 3.75rem;
  color: #f28c38;
  margin-bottom: 40px;
}

.contactContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin-top: 40px;
  width: 100%;
  max-width: 1200px;
}

.contactSection {
  flex: 1 1 250px;
  max-width: 300px;
  padding: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading2 {
  font-size: 1.13rem;
  margin: 0;
}

.link {
  text-decoration: none;
  font-weight: bold;
  font-size: 0.88rem;
}

.flexRow {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.icon {
  color: #f28c38;
  width: 40px;
  height: 40px;
}

.centeredSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
  max-width: 1200px;
}

.mapContainer {
  margin-top: 20px;
}

.mapContainer iframe {
  border: 0;
}

.centeredSection {
  margin-top: 40px;
}
